:root{
    --green: #014E56;
    --very-dark-green: #002529;
    --dark-green: #012F34;
    --white: #fff;
    --black: #000;
    --soft-red: #F67E7E;
}

.header-c{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 200px;
    position: relative;
}

.header-left{
    width: 55%;
}

.header-left > h1{
    font-size: 10rem;
    font-weight: 800;
    line-height: 100px;
}

.header-left > h1 > span{
    color: var(--soft-red);
}

.header-right{
    width: 40%;
    position: relative;
}

.header-right > p{
    font-weight: 600;
    line-height: 30px;
    font-size: 2rem;
}

.header-right > p::before {
    content: "";
    width: 50px;
    height: 4px;
    background: #79C8C7;
    position: absolute;
    top: -34px;
}

.pattern-home_top{
    position: absolute;
    left: -100px;
    top: 0px;
}

.pattern-home_bottom{
    position: absolute;
    right: 0;
    bottom: 0px;
}

@media(max-width: 1100px) {

    .header-c{
        display: grid;
        align-items: center;
        justify-content: center;
        padding-bottom: 200px;
        position: relative;
    }
    
    .header-left{
        width: 100%;
        text-align: center;
    }
    
    .header-left > h1{
        margin: 0 auto;
        margin-bottom: 30px;
        width: 500px;
        font-size: 5rem;
        line-height: 50px;
    }
    
    .header-right{
        width: 100%;
        position: relative;
    }
    
    .header-right > p{
        text-align: center;
        width: 600px;
        font-size: 1.8rem;
    }
    
    .header-right > p::before {
        display: none;
    }

}

@media(max-width: 800px) {

    .pattern-home_top{
        display: none;
    }
    
    .pattern-home_bottom{
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

}

@media(max-width: 650px) {

    .header-left > h1{
        margin: 0 auto;
        margin-bottom: 30px;
        width: 100%;
        font-size: 4rem;
    }
    
    .header-right > p{
        width: 100%;
        font-size: 1.6rem;
    }

}

@media(max-width: 450px) {

    .header-left > h1{
        font-size: 3.5rem;
    }

}

/*****************************************/

.home-tools_c{
    background-color: var(--dark-green);
    width: 100%;
    padding: 5rem 0;
    position: relative;
    overflow: hidden;
}

.home-tools_c > .home-tools{
    display: flex;
    justify-content: space-between;
}

.home-tools > .home-left{
    width: 30%;
    position: relative;
    padding-top: 3rem;
}

.home-left > h2{
    color: var(--white);
    font-size: 4rem;
}

.home-left > h2::before {
    content: "";
    width: 50px;
    height: 4px;
    background: var(--soft-red);
    position: absolute;
    top: 0px;
    left: 0;
}

.home-tools > .home-right{
    width: 60%;
    padding-top: 3rem;
    padding-right: 6rem;
}

.home-right > aside{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-right > aside > img{
    padding-right: 5rem;
}

.home-right > aside > article > h3{
    color: var(--soft-red);
    margin-bottom: 15px;
}

.home-right > aside > article > p{
    font-weight: 600;
    line-height: 30px;
}

.pattern-home-tolls_right{
    position: absolute;
    right: -100px;
    bottom: 0;
}

@media(max-width: 1100px) {

    .home-tools_c > .home-tools{
        display: block;
    }

    .home-tools > .home-left{
        width: 400px;
        margin-bottom: 30px;
    }

    .home-left > h2{
        color: var(--soft-red);
        font-size: 3.5rem;
    }

    .home-tools > .home-right{
        width: 100%;
        padding-top: 3rem;
        padding-right: 0;
    }

    .home-right > aside > article > h3{
        font-size: 2.2rem;
    }
    
    .home-right > aside > article > p{
        font-size: 1.8rem;
    }

    .pattern-home-tolls_right{
        right: -100px;
        top: 0;
    }

}

@media(max-width: 650px) {

    .home-tools_c > .home-tools{
        display: block;
    }

    .home-tools > .home-left{
        width: 300px;
        text-align: center;
    }

    .home-left > h2{
        font-size: 3rem;
    }

    .home-right > aside > article > h3{
        font-size: 1.8rem;
    }
    
    .home-right > aside > article > p{
        font-size: 1.6rem;
    }

    .pattern-home-tolls_right{
        right: -80px;
        top: 0;
        width: 15rem;
    }

}

@media(max-width: 450px) {

    .home-tools > .home-left{
        margin-left: 0;
        width: 250px;
        text-align: center;
    }

    .home-right > aside > img{
        padding-right: 3rem;
    }
    
    .home-right > aside > article > h3{
        font-size: 2rem;
    }
    
    .home-right > aside > article > p{
        font-size: 1.6rem;
    }

}

/***********************************************************************/

.home-testimonials-c{
    background-color: #2C6269;
    position: relative;
    padding: 15rem 0;
}

.testimonials-title{
    margin: 0 auto;
    padding-bottom: 3rem;
    text-align: center;
}

.testimonials-title > h1{
    font-size: 6rem;
}

.testimonials-title > h1 > span{
    color: #79C8C7;
}

.testimonials-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.testimonials-flex > aside{
    width: 28%;
}

.testimonials-flex > aside > img{
    position: relative;
    bottom: -30px;
    z-index: 1;
}

.testimonials-flex > aside > p{
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 80px;
    position: relative;
    z-index: 2;
}

.testimonials-flex > aside > article  > h3{
    color: #b2eceb;
    margin-bottom: 10px;
}

.testimonials-flex > aside > article  > h4{
    font-weight: 400;
    font-size: 1.4rem;
    font-style: italic;
    margin-bottom: 20px;
}

.testimonials-flex > aside > article  > img{
    background-color: #b2eceb;
    width: 8rem;
    border-radius: 50%;
    padding: 2px;
}

.pattern-home-testimonials_left{
    position: absolute;
    top: 0;
    left: 0;
}

.pattern-home-testimonials_right{
    position: absolute;
    right: 0;
    bottom: 0;
}

@media(max-width: 1100px) {

    .home-testimonials-c{
        padding-bottom: 12rem;
    }

    .testimonials-title > h1{
        font-size: 4rem;
    }

    .testimonials-flex{
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .testimonials-flex > aside{
        width: 100%;
        margin-bottom: 5rem;
    }

    .testimonials-flex > aside > p{
        margin-bottom: 30px;
    }

}

@media(max-width: 650px) {

    .testimonials-title > h1{
        font-size: 3rem;
    }

}