:root{
    --green: #014E56;
    --dark-green: #002529;
    --white: #fff;
    --black: #000;
    --soft-red: #F67E7E;
}

button{
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 600;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 50px;
    cursor: pointer;
    transition: .2s ease;
    text-transform: lowercase;
    padding: .5rem 1.5rem;
}

.button-nav{
    font-size: 2rem;
    color: var(--white);
    border-color: var(--white);
}

.button-nav:hover{
    color: var(--soft-red);
    border-color: var(--soft-red);
}

.button-preFooter{
    border-color: var(--dark-green);
    color: var(--dark-green);
    font-size: 1.8rem;
    padding: 1rem 2rem;
}

.button-preFooter:hover{
    background-color: var(--dark-green);
    color: var(--white);
}