:root{
    --green: #014E56;
    --dark-green: #002529;
    --white: #fff;
    --black: #000;
    --soft-red: #F67E7E;
}

.contact_container{
    width: 40%;
}

form{
    width: 100%;
}

fieldset{
    border: none;
    margin-bottom: 20px;
}

fieldset > p{
    font-size: 1.8rem;
    font-weight: 600;
}

input{
    background-color: transparent;
    border: none;
    color: var(--white);
    border-bottom: 1.2px solid var(--white);
    outline: none;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    padding: 1.5rem;
    padding-left: 0;
    font-family: inherit;
    font-size: 1.6rem;
}

#fullName{
    text-transform: capitalize;
}

textarea{
    background-color: transparent;
    color: var(--white);
    border: none;
    border-bottom: 1.2px solid var(--white);
    outline: none;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 100px;
    overflow-y: auto;
    padding: 1.5rem;
    padding-left: 0;
    font-family: inherit;
    font-size: 1.6rem;
    resize: none;
}

.error_message{
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: var(--soft-red);
    display: flex;
    align-items: center;
}

.error{
    border-color: var(--soft-red);
}

.error_message > span{
    margin-right: 3px;
}

.btn_submit{
    margin-top: 30px;
    background-color: var(--white);
    color: var(--dark-green);
    padding: 1.5rem 4rem;
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
}

.btn_submit:hover{
    background-color: var(--dark-green);
    color: var(--white);
}

.modal-success{
    background-color: #00000070;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999999999999;
    display: grid;
    align-items: center;
    justify-content: center;
}

.box-success{
    background-color: var(--white);
    width: 35rem;
    height: 35rem;
    text-align: center;
    border-radius: 10px;
    padding: 3rem;
}

.box-success > .icon{
    color: var(--green);
    font-size: 7rem;
    margin-bottom: 15px;
}

.box-success > h2{
    color: var(--black);
    margin-bottom: 10px;
}

.box-success > p{
    margin-bottom: 25px;
    color: var(--black);
    opacity: .5;
    font-weight: 600;
}

.box-success > button{
    background-color: var(--dark-green);
    color: var(--white);
    border: none;
}

.box-success > button:hover{
    opacity: .9;
}

.showModal{
    display: grid;
}

.hiddeModal{
    display: none;
}

@media(max-width: 1100px) {

    .contact_container{
        display: block;
        width: 100%;
        text-align: left;
    }

}